@model Comment

<h2> Create a reply </h2>

<form asp-controller="Comment" asp-action="Create">
    <div class="form-group">
        <label asp-for="CommentId"></label><span class="text-danger"></span>
        <input asp-for="CommentId" class="form-control"/>
        <span asp-validation-for="CommentId" class="text-danger"></span>
    </div> 
    <div class="form-group">
        <label asp-for="CommentBody"></label><span class="text-danger"></span>
        <input asp-for="CommentBody" class="form-control"/>
        <span asp-validation-for="CommentBody" class="text-danger"></span>
    </div> 
    <div class="form-group">
        <label asp-for="CommentCreatedAt"></label><span class="text-danger"></span>
        <input asp-for="CommentCreatedAt" class="form-control"/>
        <span asp-validation-for="CommentCreatedAt" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Thread"></label><span class="text-danger"></span>
        <input asp-for="Thread" class="form-control"/>
        <span asp-validation-for="Thread" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ParentCommentId"></label><span class="text-danger"></span>
        <input asp-for="ParentCommentId" class="form-control"/>
        <span asp-validation-for="ParentCommentId" class="text-danger"></span>
    </div>
    <div class="form-group">
            <label asp-for="User"></label><span class="text-danger"></span>
            <input asp-for="User" class="form-control"/>
            <span asp-validation-for="User" class="text-danger"></span>
        </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-action="Table" class="btn btn-secondary"> Return </a>
</form>