@{
    ViewData["Title"] = "Home Page";
}



<div class="w-100 vh-100 d-flex flex-column justify-content-center align-items-center text-light fs-1">
    <h1 style="font-size: 1.3em">Welcome</h1>
    @* <p style="font-size: 1em">Tell us your stories. Don't be afraid to share everything on your mind!</p> *@
</div>
