@model ThreadListViewModel
@{
    ViewData["Title"] = "Home Page";
}

                    
<h2>Welcome to our forum</h2>
<span>Feel free to choose topic you're interested in.</span>

<div class="col-md-9">
    <table class="table table-striped">
        <tr><th>Topic</th><th>Comments</th></tr>
        @if (Model != null && Model.Threads != null)
        {
            @foreach (var thread in Model.Threads)
            {
                <tr>
                    <td>
                        <a asp-controller="Thread" asp-action="Thread" asp-route-threadID="@thread.ThreadId">
                            @thread.ThreadTitle
                        </a>
                    </td>
                    <td>@(thread.ThreadComments?.Count ?? 0)</td>
                </tr>
            }
        }
    </table>
</div>