@{
    ViewData["Title"] = "Home Page";
}

    <div class="w-100 vh-100 d-flex flex-column justify-content-center align-items-center text-dark fs-1">
        <h1 style="font-size: 1.3em">Arcanet</h1>
    </div>