@{
    ViewData["Title"] = "Login";
}

<form>
    <label for="username">Username:</label>
    <input type = "text" id="username">
    <br><br>
    <label for="pwd">Password:</label>
    <input type = "pwd" id="password">
</form>