@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/Account/Manage/_Layout.cshtml";
    }
}

<div class="form-box align-middle">
    <div class="register-container">
        <div class="top text-white">
            <h2 class="login-header">Manage your account</h2>
        </div>
        <div class="text-white">
            <div>
                <div>
                    <partial name="_ManageNav" />
                </div>
                <div>
                    @RenderBody()
                </div>
            </div>
        </div>

        @section Scripts {
            @RenderSection("Scripts", required: false)
        }
    </div>
</div>
