@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}


    <div class="register-container">
        <form id="change-password-form registerForm" method="post">
        <div class="top text-white">
            <h3>@ViewData["Title"]</h3>
            <partial name="_StatusMessage" for="StatusMessage" />
        </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-floating input-box text-white">
            <input asp-for="Input.OldPassword" style="border-radius: 30px" class="form-control" autocomplete="current-password" aria-required="true" />
            <label asp-for="Input.OldPassword" class="form-label"></label>
            <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
        </div>
        <div class="form-floating input-box text-white">
            <input asp-for="Input.NewPassword" style="border-radius: 30px" class="form-control" autocomplete="new-password" aria-required="true" />
            <label asp-for="Input.NewPassword" class="form-label"></label>
            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
        </div>
        <div class="form-floating input-box text-white">
            <input asp-for="Input.ConfirmPassword" style="border-radius: 30px" class="form-control" autocomplete="new-password" aria-required="true" />
            <label asp-for="Input.ConfirmPassword" class="form-label"></label>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="input-box d-flex justify-content-center align-items-center">
            <button type="submit" class="submit">Update password</button>
        </div>
        </form>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
