@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}


    <div class="register-container">
        <form id="profile-form registerForm" method="post">
            <div class="top text-white">
                <h3 class="profile-title">@ViewData["Title"]</h3>
                <partial name="_StatusMessage" for="StatusMessage" />
            </div>
              
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating input-box text-white">
                <input asp-for="UserName" style="border-radius: 30px" class="form-control" disabled />
                <label asp-for="UserName" class="form-label"></label>
            </div>
            <div class="form-floating input-box text-white">
                <input asp-for="Input.PhoneNumber" style="border-radius: 30px" class="form-control" />
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="input-box d-flex justify-content-center align-items-center">
                <button id="update-profile-button" type="submit" class="submit">Save</button>
            </div>
        </form>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
