@model Diskusjonsforum.Models.Thread

<!DOCTYPE html>
<html>
    <head>
        <!-- External css files for styling -->
        <link rel="stylesheet" href="~/css/site.css">
        <link rel="stylesheet" href="~/css/crud.css">
        @* <link rel="stylesheet" href="~/css/thread_view.css"> *@
        <!-- External fonts and icons -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="~/css/authentication.css">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Zanabazar+Square&family=Roboto&family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>

    <body>
    <div class="container mt-5">
        <div class="row mt-4 col-12 mb-4 p-4 d-flex justify-content-start align-items-stretch flex-fill create-thread">
            <h2 class="new-thread"> Create a thread </h2>

            <div class="form">
                <form asp-controller="Thread" asp-action="Create">
                <div class="form-group">
                    <label asp-for="UserId">Username</label><span class="text-danger"></span>
                    <input asp-for="UserId" class="form-control" />
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ThreadTitle">Title</label><span class="text-danger"></span>
                    <input asp-for="ThreadTitle" class="form-control" />
                    <span asp-validation-for="ThreadTitle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ThreadCategory">Category</label><span class="text-danger"></span>
                    <input asp-for="ThreadCategory" class="form-control" />
                    <span asp-validation-for="ThreadCategory" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ThreadBody">Write your question here!</label><span class="text-danger"></span>
                    <input asp-for="ThreadBody" class="form-control" />
                    <span asp-validation-for="ThreadBody" class="text-danger"></span>
                </div>

                <div class="d-flex justify-content-between thread-button">
                    <button type="submit" class="btn btn-primary new-thread-button-primary">Create</button>
                    <a asp-action="Table" class="btn btn-secondary new-thread-button-secondary"> Return </a>
                </div>
                </form>
            </div>
        </div>
    </div>

    </body>
</html>