@model Thread

<link rel="stylesheet" href="~/css/ThreadStyle.css" asp-append-version="true"/>

<div class="container mt-5">
        <h2 class="crud-title"> Post a thread </h2>

        <form asp-controller="Thread" asp-action="Create">
            
            <div class="form-group">
                <label asp-for="CategoryName"></label><span class="text-danger"></span>
                <br/>
                <select asp-for="CategoryName" asp-items="@ViewBag.Categories">
                    <option value="">Select a category</option>
                </select>
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThreadTitle"></label><span class="text-danger"></span>
                <input asp-for="ThreadTitle" class="form-control"/>
                <span asp-validation-for="ThreadTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThreadBody"></label><span class="text-danger"></span>
                <input asp-for="ThreadBody" class="form-control"/>
                <span asp-validation-for="ThreadBody" class="text-danger"></span>
            </div>
            <br/>
            <button type="submit" class="btn btn-primary">Create</button>
            <a asp-action="Table" class="btn btn-secondary"> Return </a>
        </form>
    
    </div>

