@model ThreadListViewModel

<h1>List of discussion threads (@Model.CurrentViewName Name)</h1>
<!-- <a href="/ThreadThread/Grid">Grid View</a> -->

<div class="container">
    <table class="table table-striped">
        <tr><th>User</th><th>Title</th><th>Comments</th></tr>
        @foreach (var thread in Model.Threads)
{
                <tr>
                    <td>@thread.CreatedBy</td>
                    <td>@thread.Title</td>
                    <td>@thread.Posts</td>
                    <td></td>
                </tr>
}
    </table>
</div>