<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - diskusjonsforum</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/css/site.css"></script>
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="~/css/authentication.css" />

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Zanabazar+Square&family=Roboto&family=Ubuntu:ital,wght@0,300;0,400;0,700;1,700&display=swap" rel="stylesheet">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</head> 
<body class="vh-100 overflow-hidden">
    <header>
        @* <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand custom-font" asp-area="" asp-controller="Home" asp-action="Index">ArcaNet</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between custom-font">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Authorization" asp-action="Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Thread" asp-action="Table">ThreadTable</a>
                        </li>


                    </ul>
                </div>
            </div>
        </nav> *@
        @* <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between navbar-fixed-top" role="navigation"> *@
        @* <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand custom-font mb-0 h1" asp-area="" asp-controller="Home" asp-action="Index">ArcaNet</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav justify-content-end">
                        <li class="nav-item active">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home <span class="sr-only"></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Authorization" asp-action="Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Thread" asp-action="Table">ThreadTable</a>
                        </li>
                    </ul>
                        <form class="d-flex mt-3" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                </div>
        </nav> *@
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
            <div class="container">
                <!-- Logo -->

                <a class="navbar-brand custom-font fs-4 text-light em-wide" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/bicycle.png" alt="..." height="35" />ArcaNet</a>
                <!-- Toggle Button -->
                <button 
                    class="navbar-toggler btn-close-dark shadow-none border-0"
                    type="button" 
                    data-bs-toggle="offcanvas" 
                    data-bs-target="#offcanvasNavbar" 
                    aria-controls="offcanvasNavbar" 
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- SideBar -->
                <div 
                    class="sidebar offcanvas offcanvas-start" 
                    tabindex="-1" 
                    id="offcanvasNavbar" 
                    aria-labelledby="offcanvasNavbarLabel"
                >
                <!-- SideBar Header -->
                    <div class="offcanvas-header border-bottom">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">ArcaNet</h5>
                        <button 
                            type="button" 
                            class="btn-close btn-close-white shadow-none"
                            data-bs-dismiss="offcanvas" 
                            aria-label="Close"
                        ></button>
                    </div>
                    <!-- Sidebar Body -->
                    <div class="offcanvas d-flex flex-column justify-content-center align-items-center flex-lg-row p-4 p-lg-0 gap-3">
                        <ul class="navbar-nav justify-content-center align-items-center fs-5 flex-grow-1 pe-3">
                            <li class="nav-item mx-2">
                                <a class="nav-link text-light" asp-area="" asp-controller="Thread" asp-action="Table">Home</a>
                            </li>
                            <li class="nav-item mx-2">
                                <a class="nav-link text-light" href="#">About</a>
                            </li> 
                            <li class="nav-item mx-2">
                                <a class="nav-link text-light" href="#">Contact</a>
                            </li>
                        </ul>
                        <!-- Login / Signup -->
                        <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center gap-3">
                            <a class="login-text nav-link text-light" asp-area="" asp-controller="Authorization" asp-action="Login">Login</a> 
                            <a class="register-text nav-link text-light text-decoration-none px-3 py-1 rounded-4" style="background-color: #ffc942" asp-area="" asp-controller="Authorization" asp-action="Register">Sign Up</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container mx-auto">
        <main role="main" class="d-flex flex-column justify-content-center align-items-center pb-3">
            @RenderBody()
        </main>
    </div>

    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - diskusjonsforum - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    @* <footer class="bg-light text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2023 Copyright:
            <a asp-area="" asp-controller="Home" asp-action="Privacy">ArcaNet.com</a>
        </div>
        <!-- Copyright -->
    </footer> *@
    @* <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false) *@
</body>
</html>

