
<ul class="navbar-nav justify-content-center align-items-center fs-5 flex-grow-1 pe-3">
    @{     var user = Context.Request.Cookies["SessionCookie"]; }
    
        <li class="nav-item mx-2">
            <p> @user </p>
        </li>
    
</ul>