@page
@model LoginModel



@{
    ViewData["Title"] = "Log in";
}

<div class="form-box align-middle">
    <div class="login-container" id="login">
            <form id="account" method="post">
                <div class="top text-white">
                    <!-- Link to register page -->
                    <span>Don't have an account? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register here</a></span>
                    <p class="login-header">Login</p>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating input-box text-white">
                    <!-- Input field for username -->
                    <input asp-for="Input.Email" class="form-control" style="border-radius: 30px" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating input-box text-white">
                    <!-- Input field for password -->
                    <input asp-for="Input.Password" class="form-control" style="border-radius: 30px" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                <div class="checkbox text-white">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="input-box d-flex justify-content-center align-items-center">
                    <!-- Submit login info -->
                    <button class="submit" id="login-submit" type="submit">Log in</button>
                </div>
            </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
