@model UserListViewModel

<h1>List of users (@Model.CurrentViewName Name)</h1>

<div class="container">
    <table class="table table-striped">
        <tr><th>ApplicationUser</th><th>ID</th><th>Email</th></tr>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Id</td>
                <td>@user.Email</td>
                <td></td>
            </tr>
        }
    </table>
</div>