@using System.Net

@using (Html.BeginForm("Login", "Authorization", FormMethod.Post))
{
        <div id="loginBox">
            <label for="username">Username:</label>
            <input type = "text" id="username">
            <br><br>
            <label for="pwd">Password:</label>
            <input type = "password" id="password">
            <br><br>
            <button type="submit" class="btn btn-primary"> Logg inn (gjør ingenting) </button>
            <p>Don't have an account? <a asp-area="" asp-controller="Authorization" asp-action="Register">Register</a></p>
        </div>
}

@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
}


