@{
    ViewData["Title"] = "Login";
}

<form>
    <div id="loginBox">
        <h1>Login</h1>
        <label for="username">Username:</label>
        <input type="text" id="username">
        <br><br>
        <label for="pwd">Password:</label>
        <input type="password" id="password">
        <br><br>
        <button class="btn-primary"> logg inn (gjør ingenting) </button>
        <p>Don't have an account? <a href="link til å lage bruker">Register</a></p>

    </div>

</form>

