@{
    ViewData["Title"] = "Login";
}

<form>
    <div id="loginBox">
        <label for="username">Username:</label>
        <input type = "text" id="username">
        <br><br>
        <label for="pwd">Password:</label>
        <input type = "password" id="password">
        <br><br>
        <button class="btn-primary"> logg inn (gjør ingenting) </button>
        <p>Don't have an account? <a asp-area="" asp-controller="Authorization" asp-action=""skal linkes til register>Register</a></p>
        
    </div>

</form>

