@{
    ViewData["Title"] = "Login";
}

<form>
    <div id="loginBox">
        <label for="username">Username:</label>
        <input type = "text" id="username">
        <br><br>
        <label for="pwd">Password:</label>
        <input type = "password" id="password">
        <button class="btn-primary"> logg inn (gjør ingenting) </button>
    </div>
</form>