@{
    ViewData["Title"] = "Register";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Zanabazar+Square&family=Roboto&family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="login-container">
        <h2>Create an Account</h2>
        <form>
            <div class="input-container">
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" class="rounded-input" required>
            </div>
            <div class="input-container">
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" class="rounded-input" required>
            </div>
            <div class="input-container">
                <label for="email">Email:</label>
                <input type="email" id="email" class="rounded-input" required>
            </div>
            <div class="input-container">
                <label for="mobileNumber">Mobile Number:</label>
                <input type="tel" id="mobileNumber" class="rounded-input" required>
            </div>
            <div class="input-container">
                <label for="password">Password:</label>
                <input type="password" id="password" class="rounded-input" required>
            </div>
            <div class="login-button">
                <button type="submit">Register</button>
            </div>
        </form>
        <div class="register-here">
            <p>Already have an account? <a asp-area="" asp-controller="Authorization" asp-action="Login">Log in here</a></p>
        </div>
    </div>
</body>
</html>






