@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form>
    <div id="registerBox">
        <label for="firstName">First name: </label>
        <input type="text" class="firstName">
        <br><br>
        <label for="lastname">Last name: </label>
        <input type="text" class="lastName">
        <br><br>
        <label onbeforeinput="email">Email: </label>
        <input type="text" class="email">
        <br><br>
        <label for="mobileNumber">Mobile number: </label>
        <input type="text" id="mobileNumber">
        <br><br>
        <label for="password">Password: </label>
        <input type="password" id="pwd">
        <br><br>
        <button class="btn-primary">Register </button>
    </div>
</form>