

/* CREATE NEW THREAD STYLING BELOW */

.crud-thread {
  
    color: #000000;

}

.crud-title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    max-width: 800px;
}

.form {
    max-width: 800px;
    padding: 4%;
}

.form-group {
    padding-bottom: 15px;
    max-width: 800px;
}

.form-control {
    background-color: #feeeef;
    border: 2px outset #feeeef;
    font-size: 15px;
    font-weight: 400;
    color: #002c45;
}

.crud-button-primary {
    font-size: 14px;
    font-weight: 700;
    color: #feeeef;
    height: 37px;
    width: 30%;
    margin-left: 15%;
    margin-top: 10px;
    border: 2px outset #288155;
    border-radius: 30px;
    outline: none;
    background: #288155;
    cursor: pointer;
    transition: .3s ease-in-out;
}

    .crud-button-primary:hover {
        background: rgba(40, 129, 85, 0.9);
        box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.5);
    }

.crud-button-secondary {
    font-size: 14px;
    font-weight: 700;
    color: #feeeef;
    height: 37px;
    width: 30%;
    margin-right: 15%;
    margin-top: 10px;
    border: 2px outset #ff6a52;
    border-radius: 30px;
    outline: none;
    background: #ff6a52;
    cursor: pointer;
    transition: .3s ease-in-out;
}

    .crud-button-secondary:hover {
        background: rgba(255, 106, 82, 0.9);
        box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.5);
    }

.crud-container {
    display: flex;
    flex-direction: column;
    color: #002c45;
    background: #feeeef;
    border: 3px #feeeef;
    border-radius: 30px;
    max-width: 800px;
    padding-left: 20px;
    margin-bottom: 20px;
}

.crud-comment-info {
    /* Contains the orange border to left */
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    border-left: 4px solid #ff6a52;
    padding: 10px;
    margin-top: 10px;
    position: relative; /* Set position to relative */
    overflow: hidden;
    font-weight: 300;
}

.crud-comment-info, h1{
    font-size: 15px;
    font-weight: 500;
    text-align: left;
}