
.scrollable-container {
    overflow-y: auto;
}

body {
    background: url("../images/16328440_v962-aum-05.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    font-family: 'Noto Sans Zanabazar Square', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
}


.mx-2 {
    position: relative;
}

    .mx-2::after {
        content: '';
        opacity: 0;
        transition: all 0.2s;
        height: 2px;
        width: 100%;
        background-color: #feeeef;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .mx-2:hover::after {
        opacity: 1;
    }

.login-text {
    position: relative;
}

    .login-text::after {
        content: '';
        opacity: 0;
        transition: all 0.2s;
        height: 2px;
        width: 100%;
        background-color: #feeeef;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .login-text:hover::after {
        opacity: 1;
    }

.register-text {
    border: none;
    background: #ffc942;
    color: #feeeef;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    transition: .3s ease-in-out;
}

    .register-text:hover {
        box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
    }

header {
    font-family: 'Noto Sans Zanabazar Square', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    padding-top: 1%;
    padding-left: 4%;
    padding-right: 4%;
    color: #feeeef;
}

.navbar-brand {
    padding-left: 5%;
    font-size: 50px;
    letter-spacing: 0.1em;
}

.custom-toggler {
    border-color: #feeeef;
}

.offcanvas-header {
    color: #feeeef;
    font-style: italic;
}

@media (max-width: 991px) {
    #offcanvasNavbar {
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
    }
}
