@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


html, body {
    height: 100%;
}


body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    color: #333;
    background-color: white;
    display: flex;
    flex-direction: column;
}

header, .container, foooter {
    flex: 0 0 auto;
    font-family: 'Ubuntu', sans-serif;
}


.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*height: 100%;*/
    background-color: white;
}

.footer {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 13%;
}

.custom-font {
    font-weight: 700;
    color: black;
    font-size: 150%;
}

.subheading {
    font-weight: 300;
    /*color: #bb5b17*/
    color: white;
}