@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


html, body {
    height: 100%;
}


body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    color: #333;
    background-color: white;
    display: flex;
    flex-direction: column;
}

header, .container, foooter {
    flex: 0 0 auto;
    font-family: 'Ubuntu', sans-serif;
}


.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*height: 100%;*/
    background-color: white;
}

.footer {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 13%;
}

.custom-font {
    font-weight: 700;
    color: black;
    font-size: 150%;
}

.subheading {
    font-weight: 300;
    /*color: #bb5b17*/
    color: white;
}

.threadbody {
    border: 1px darkgray;
    border-radius: 10px;
    background-color: lightgray;
}

.commentBody {
    border: 1px darkgray;
    border-radius: 10px;
    background-color: lightgray;
}


/* Target the container element holding the buttons */
.vertical-button-container {
    padding: 5px; /* Optional padding for spacing */
    float: right;
    height: 15%;
    width: 10%;
    margin-top: 2px;
    display: inline-block;
}

.vertical-button-container a {
    background-color: lightblue; /* Optional background color for the inner div */
    border: 1px solid green; /* Green border */
    border-radius: 10%;
    color: black; /* White text */
    padding: 3px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 100%; /* Set the width to 100% to make buttons appear below each other */
    margin: 2px; /* Add margin to create spacing between buttons */
    display: block;
}

/* Add a background color on hover */
.vertical-button-container button:hover {
    background-color: #3e8e41;
}
/* Style for the outer div */
.commentDiv {
    border: 2px solid black; /* Optional border for visualization */
    display: block;
    height: 20%;
}

/* Style for the outermost container */
.outermost-container {
    border: 1px solid #ccc; /* Border to define the outermost container */
    padding: 10px; /* Padding for spacing */
    margin-bottom: 20px; /* Margin to separate containers */
}

/* Style for nested containers */
.nested-container {
    border-left: 2px solid black;
    padding: 10px;
    margin-top: 10px;
    position: relative; /* Set position to relative */
    overflow: hidden;
    height: 40%;
    width: 98%;
}

/* Additional styles for clarity (optional) */
.nested-container .nested-container {
    margin-top: 5px; /* Reduce margin for deeper nesting */
}

.commentBody{
    display: inline-block;
    width: 60%;
}

.login-container {
    text-align: center;
    background: linear-gradient(to right, #f2f2f7 30%, white 100%);
    background-color: lightgray;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 7px 2px 1px rgba(0, 0, 0, 0.1);
}

.login-container, h2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    color: #333;
}

.register-here {
    padding-top: 10px;
}

.input-container {
    margin: 10px 0;
    padding-top: 10px;

}

.rounded-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    outline: none;
    box-shadow: 5px 7px 2px 1px rgba(0, 0, 0, 0.1);
}

.login-button {
    padding: 10px;
}

button[type="submit"] {
    background-color: #9f1fbf;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-weight: 400;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 5px 7px 2px 1px rgba(0, 0, 0, 0.1);
}

    button[type="submit"]:hover {
        background-color: #007BFF;
    }

a {
    text-decoration: none;
    font-weight: 400;
    color: #007BFF;
}