
/*CSS Styles for Thread table and Thread single view*/


/*THREAD SINGLE VIEW STYLING BELOW*/


/* Custom CSS for the thread cards */
/*.thread-card {
    background-color: #fff;*/ /* White background color */
    /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);*/ /* Add a subtle shadow */
/*}*/

/*Styles for thread body*/
.threadbody {
    /*Font and background styles for thread body*/
    font-size: 17px;
    padding: 10px 10px 10px 15px;
    border: 3px outset #ff6a52;
    border-radius: 30px;
    color: #feeeef;
    background-color: #ff6a52;
}

/*Styles for comments heading*/
.comments-heading {
    /*Font size and weight*/
    font-size: 25px;
    font-weight: 400;
}

/*Syles for thread information, category and date*/
.thread-information {
    /*Font weight and size*/
    font-weight: 300;
    font-size: 13px;
}

/*Make new comment button styling*/
.comment-button {
    font-size: 14px;
    font-weight: 700;
    color: #feeeef;
    height: 33px;
    width: 70%;
    border: 2px outset #288155;
    border-radius: 30px;
    outline: none;
    background: #288155;
    cursor: pointer;
    transition: .3s ease-in-out;
}

    /*Hover function for new comment button*/
    .comment-button:hover {
        /*Change color when hovering over*/
        background: rgba(40, 129, 85, 0.8);
        box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.5);
    }

    /* changes the color */
    
.btncost{
    
    background-color: mediumpurple;
    color: white;
}

.btncost:hover{
    color: white;
    background-color: #ffc942 ;
}
    /* Add a background color on hover */
    /*.vertical-button-container button:hover {
        background-color: #3e8e41;
    }*/
    

/* Style for the outer div, biggest container for comments */
/*.commentDiv {
    border: 2px solid black;*/ /* Optional border for visualization */
    /*height: 20%;
}*/

/* Style for the outermost container */
/* Only padding for spacing within threadbody */
.outermost-container {
    padding: 10px; /* Padding for spacing */
    margin-bottom: 20px; /* Margin to separate containers */
}

/* Style for nested containers for comments */
.nested-container {
    /* Contains the orange border to left */
    border-left: 2px solid #ff6a52;
    padding: 10px;
    margin-top: 10px;
    position: relative; /* Set position to relative */
    overflow: hidden;
    height: 40%;
    width: 100%;
}

    /* Additional styles for clarity (optional) */
    .nested-container .nested-container {
        margin-top: 5px; /* Reduce margin for deeper nesting */
    }

/* The inner container for the comment text, made it longer so "Last edited..." is on one line */
.commentBody {
    display: inline-block;
    width: 90%;
}














/* THREAD TABLE VIEW STYLING BELOW*/

.todays-discussion {
    justify-content: start;
    color: #feeeef;
    font-size: 1.75rem;
    font-weight: 700;
    padding-left: 25px;
    padding-bottom: 20px;
}

.title-categories {
    color: #feeeef;
    font-size: 1.75rem;
    font-weight: 700;
}

.col-md-3 {
    justify-content: flex-start;
}

.list-group {
    border-radius: 30px;
    margin-top:28px;
}

.list-group-item {
    text-align: center;
    background: #feeeef;
    border: none;
    height: 46px;
    width: 200px;
    color: #feeeef;
    font-weight: 500;
}

/* Customize thread title */
.title-thread {
    color: #002c45;
    text-decoration: none;
    font-style: italic;
    font-weight: 400;
    font-size: 1.25rem;
    margin-bottom: 10px;
}

/* Style user ID */
.user-id {
    font-weight: 400;
    color: #002c45;
}

/* Style thread text */
.thread-text {
    color: #002c45;
    margin-bottom: 10px;
}

/* Style comment count */
.comment-count {
    color: #002c45;
}

.thread-container {
    flex: auto;
    color: #002c45;
    background: #feeeef;
    border: 3px #feeeef;
    border-radius: 30px;
    max-width: 1000px;
    padding-left: 20px;
    margin-bottom: 20px;
    /*box-shadow: 0px 3px 4px 0px rgba(0, 44, 69, 0.5);*/
}

.col-md-6 {
    width: 600px;
}

.custom-container {
    color: white;
}

.fixed-top {
    position:relative;
    right: 15rem;
    color: white;
}



#myBtn {
    /*display: none;*/ /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

    #myBtn:hover {
        background-color: #555; /* Add a dark-grey background on hover */
    }
    
.btn-secondary{
    color: white;
    background-color: #ffc942;
    border: transparent;
}

.btn-secondary:hover{
    color: white;
    background-color:#ff9fc5;
}

